<div>
    <mat-toolbar color="primary">
        <span>Contact Us</span>
    </mat-toolbar>
    <form [formGroup]="cGroup">
        <mat-card>
            <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" class="form-control" formControlName="name" required>
                    <mat-error *ngIf="cGroup.controls.name.hasError('required')">name is required</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" class="form-control" formControlName="email" required>
                    <mat-error *ngIf=" cGroup.controls.email.hasError('email') && !cGroup.controls.email.hasError('required')">please enter valid email address</mat-error>
                    <mat-error *ngIf="cGroup.controls.email.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <textarea matInput placeholder="Textarea" matTextareaAutosize matAutosizeMinRows="2" formControlName="textarea" matAutosizeMaxRows="5"></textarea>
                    <mat-error *ngIf="cGroup.controls.textarea.hasError('required')">please write something</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" [disabled]="!cGroup.valid" (click)="Submit()">Submit</button>
        </mat-card>
    </form>
</div>