<div class="container">
    <form [formGroup]="eGroup">
        <table class="table table-striped">
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="name" class="form-control" formControlName="EnterName" [value]="data.EnterName">
                    <mat-error *ngIf="eGroup.controls.EnterName.hasError('required')">name is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="UserName" class="form-control" formControlName="UserName" [value]="data.UserName">
                    <mat-error *ngIf="eGroup.controls.UserName.hasError('required')">username is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="email" class="form-control" formControlName="email" [value]="data.email">
                    <mat-error *ngIf="eGroup.controls.email.hasError('required')">name is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="gender" class="form-control" formControlName="gender" [value]="data.gender">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="contact" class="form-control" formControlName="contact" [value]="data.contact">
                    <mat-error *ngIf="eGroup.controls.contact.hasError('required')">contact number required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="city" class="form-control" formControlName="city" [value]="data.city">
                    <mat-error *ngIf="eGroup.controls.city.hasError('required')">city is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Fav animal" class="form-control" formControlName="animalControl" [value]="data.animalControl">
                    <mat-error *ngIf="eGroup.controls.animalControl.hasError('required')">field is required</mat-error>
                </mat-form-field>
            </div>
            <mat-dialog-actions>
                <button mat-raised-button color="primary" [disabled]="!eGroup.valid" (click)="onNoClick()">Save</button>
                <!-- <button mat-raised-button color="primary" (click)="close()">cancle</button> -->
                <button mat-button mat-dialog-close>Cancel</button>
            </mat-dialog-actions>
        </table>
    </form>
</div>